.card-custom {
    background-color: #e0e0e0;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: #424242;
}
.card {
    background-color: #e0e0e0;
}
html {
    position: relative;
    min-height: 100%;
  }